* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.top {
  height: 35px;
  width: 100%;
  min-width: 1200px;
  background-color: #f2f2f2;

  .conter {
    height: 35px;
    width: 1185px;
    margin: 0 auto;
    line-height: 35px;
    position: relative;

    > p {
      font-size: 13px;
      color: #6c6c6c;
      float: left;
    }

    p a {
      color: #EC3E7D;
    }

    li {
      width: 100px;
      height: 34px;
      line-height: 34px;
      float: left;
      text-align: center;

      a {
        font-size: 13px;
        color: #6c6c6c;
        text-decoration: none;
      }
    }

    ul {
      float: right;
    }

    li {
      img {
        margin: -3px auto;
      }

      &:nth-of-type(7) {
        width: 120px;
      }

      &:nth-of-type(1) {
        width: 110px;
      }

      &:hover {
        background-color: #fff;
      }
    }

    .lis {
      width: 110px;
      height: 140px;
      background-color: #fff;
      position: absolute;
      top: 34px;
      left: 455px;
      display: none;
      z-index: 999;
      transition: all 0.5s ease;

      li {
        width: 110px;
        height: 28px;

        /*padding-left:4px;*/
        font-size: 12px;
        color: #6C6C6C;
        line-height: 28px;

        &:hover a {
          color: #EC3E7D;
        }
      }
    }

    li:hover .lis {
      display: block;
    }

    .lis2 {
      width: 303px;
      height: 72px;
      background-color: #fff;
      position: absolute;
      top: 35px;
      left: 362px;
      display: none;
      z-index: 999;

      p {
        font-size: 12px;
        color: #6C6C6C;
        height: 16px;
        padding-top: 8px;
        padding-left: 60px;
        font-family: 黑体;
      }
    }

    li:hover .lis2 {
      display: block;
    }

    .pic11, .pic22, .pic11 img, .pic22 img {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 19px;
      right: 6px;
      z-index: 999;
    }

    .pic11, .pic22 {
      display: none;
    }
  }
}

.header {
  width: 100%;
  height: 130px;
  min-width: 1200px;
  background-color: #fff;

  .conter {
    height: 130px;
    width: 1185px;
    margin: 0 auto;
    position: relative;

    > img {
      padding-top: 20px;
    }

    input {
      height: 36px;
      width: 340px;
      border: 3px solid #EC3E7D;
      text-indent: 4px;
      outline: none;
      position: absolute;
      top: 20px;
      left: 406px;
    }

    button {
      width: 90px;
      height: 36px;
      background-color: #EC3E7D;
      color: #fff;
      border: none;
      outline: none;
      position: absolute;
      top: 20px;
      left: 745px;
      font-size: 14px;
      font-family: 黑体;
    }

    .lis3 {
      width: 430px;
      height: 13px;
      position: absolute;
      top: 65px;
      left: 406px;

      li {
        float: left;
        text-align: center;
        font-size: 13px;
        padding-left: 9px;

        &:nth-of-type(1) {
          padding-left: 0;
        }

        a {
          text-decoration: none;
          color: #6C6C6C;
          font-family: 黑体;
        }
      }
    }

    .lis4 {
      width: 860px;
      height: 20px;
      position: absolute;
      top: 102px;
      left: 200px;

      > li {
        float: left;

        /*text-align: center;*/
        font-size: 18px;
        padding-left: 12px;
      }

      .dpic {
        position: absolute;
        left: 0;
        top: -7px;
      }

      .cz {
        padding-left: 135px;
      }

      .shw {
        height: 30px;
      }

      li a {
        text-decoration: none;
        color: black;

        /*    font-family: 黑体;*/
      }

      > li:hover > a {
        color: #EC3E7D;
      }
    }
  }

  .lis4 .shw:hover .show {
    display: block;
  }

  .conter .show {
    width: 328px;
    height: 287px;
    z-index: 99999;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    position: absolute;
    top: 28px;
    right: -170px;
    display: none;
    background-color: #FFFFFF;

    #shtop {
      width: 332px;
      height: 40px;
      background-color: #eee;
      line-height: 40px;
      padding-left: 25px;
    }

    #shbt {
      width: 346px;
      height: 240px;
    }

    #shtop p {
      font-size: 14px;
      color: #EC3E7D;
    }

    .shlet {
      width: 220px;
      height: 240px;
      float: left;
    }
  }

  .show {
    .shlet {
      ul {
        width: 170px;
        height: 210px;
        border-bottom: 1px solid #eee;
        margin: 0 auto;

        li {
          width: 170px;
          height: 26px;
          line-height: 26px;
        }
      }

      li a {
        text-decoration: none;
        font-size: 14px;
        color: #6C6C6C;
      }

      .shletbt {
        width: 240px;
        height: 30px;
        text-align: center;
        line-height: 30px;

        a {
          text-decoration: none;
          font-size: 14px;
          font-weight: bolder;
          color: #000000;
        }
      }
    }

    .shrit {
      height: 240px;
      width: 106px;
      float: left;

      li {
        height: 60px;
        width: 101px;
        border: 1px dashed #EEEEEE;

        img {
          height: 60px;
          width: 101px;
        }
      }
    }
  }

  .lis5 {
    width: 190px;
    height: 460px;
    z-index: 999;
    position: absolute;
    top: 40px;
    left: 0px;
    display: none;

    li {
      height: 52.5px;
      width: 190px;
      line-height: 52.5px;
      background-color: #EC3E7D;
      padding-left: 20px;
      border-bottom: 1px dashed #fe7dab;
      position: relative;

      a {
        font-size: 18px;
        text-decoration: none;
        color: #FFFFFF;
        padding-left: 15px;
      }

      img {
        padding-top: 10px;

        &:nth-of-type(2) {
          position: absolute;
          top: 2px;
          left: 21px;
        }

        &:nth-of-type(3), &:nth-of-type(4) {
          position: absolute;
          top: 10px;
          right: 20px;
        }
      }

      .ico {
        width: 330px;
        height: 220px;
        position: absolute;
        top: 0px;
        left: 190px;
        background-color: #FFFFFF;
        z-index: 999;
        display: none;
        border: 1px solid #EC3E7D;
        border-left: none;
      }
    }

    > li > span {
      font-size: 18px;
      padding-left: 35px;
    }

    .ico {
      #ico1, #ico2 {
        a {
          color: #6C6C6C;
          font-size: 12px;
          padding-left: 10px;
        }

        line-height: 25px;
        padding-top: 15px;
        margin-left: 20px;

        h3 a {
          font-size: 14px;
        }
      }
    }

    li:hover {
      background-color: #fff;

      a {
        color: #EC3E7D;

        &:hover {
          color: #333;
        }
      }

      .ico {
        display: block;

        #ico1 {
          a:hover, h3:hover {
            color: #EC3E7D;
          }
        }

        #ico2 {
          a:hover, h3:hover {
            color: #EC3E7D;
          }
        }
      }
    }

    .ico #now a {
      color: #EC3E7D;
    }

    li .icox2 {
      width: 330px;
      height: 300px;
      position: absolute;
      top: 0;
      left: 190px;
      background-color: #FFFFFF;
      z-index: 999;
      display: none;
      border: 1px solid #EC3E7D;
      border-left: none;
    }

    .icox2 #ico2-1 {
      a {
        color: #6C6C6C;
        font-size: 12px;
        padding-left: 10px;
      }

      line-height: 25px;
      padding-top: 15px;
      margin-left: 20px;
    }
  }
}

.banner .lis5 .icox2 #ico2-1 h3 a {
  font-size: 14px;
}

.header .lis5 .icox2 {
  #ico2-2 {
    a {
      color: #6C6C6C;
      font-size: 12px;
      padding-left: 10px;
    }

    line-height: 25px;
    padding-top: 15px;
    margin-left: 20px;

    h3 a {
      font-size: 14px;
    }
  }

  #ico2-3 {
    a {
      color: #6C6C6C;
      font-size: 12px;
      padding-left: 10px;
    }

    line-height: 25px;
    padding-top: 15px;
    margin-left: 20px;
  }
}

.lis5 {
  .icox2 #ico2-3 h3 a {
    font-size: 14px;
  }

  li {
    &:hover {
      background-color: #fff;

      a {
        color: #EC3E7D;
      }

      .icox2 {
        display: block;

        #ico2-1 {
          a:hover, h3:hover {
            color: #EC3E7D;
          }
        }

        #ico2-2 {
          a:hover, h3:hover {
            color: #EC3E7D;
          }
        }

        #ico2-3 {
          a:hover, h3:hover {
            color: #EC3E7D;
          }
        }
      }
    }

    .icox3 {
      width: 330px;
      height: 100px;
      position: absolute;
      top: 0;
      left: 190px;
      background-color: #FFFFFF;
      z-index: 999;
      display: none;
      border: 1px solid #EC3E7D;
      border-left: none;
    }
  }

  .icox3 #ico3-1 {
    a {
      color: #6C6C6C;
      font-size: 12px;
      padding-left: 10px;
    }

    line-height: 25px;
    padding-top: 15px;
    margin-left: 20px;

    h3 a {
      font-size: 14px;
    }
  }

  li:hover {
    background-color: #fff;

    a {
      color: #EC3E7D;
    }

    .icox3 {
      display: block;

      #ico3-1 {
        a:hover, h3:hover {
          color: #EC3E7D;
        }
      }
    }
  }
}

.list {
  height: 40px;
  width: 190px;
  line-height: 40px;
  background-color: #333;
  border: none;
  padding-left: 10px;
  position: absolute;
  left: 0;
  top: 90px;

  span {
    font-size: 18px;
    color: #FFFFFF;
    padding-left: 10px;
    font-family: 黑体;
  }

  &:hover > .lis5 {
    display: block;
  }
}

.lis5 li:nth-of-type(8) {
  border-bottom: 1px solid #EC3E7D;
}

.nav {
  height: 680px;
  width: 40px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #4c4c4c;
  z-index: 99999;

  /*position: relative;*/

  a {
    text-decoration: none;
    color: #FFFFFF;
  }

  li .jisu {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-left: 9px;
    background-color: #EC3E7D;
  }

  .jisu p {
    color: #FFFFFF;
  }

  .sw {
    width: 40px;
    height: 40px;

    /*background-color: #EC3E7D;*/
    margin-top: 25px;
    text-align: center;
    line-height: 45px;

    /*position: relative;*/
    /*padding-top: 5px;*/
  }

  ul {
    position: relative;
  }

  .sw1 {
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #4c4c4c;
    position: absolute;
    top: 153px;
    right: 100px;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .sw:hover + .sw1 {
    opacity: 1;

    /*background-color: #EC3E7D;*/
    transform: translateX(62px);
  }

  .sw1 p {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 黑体;
  }

  li:nth-of-type(2) {
    width: 40px;
    height: 125px;

    /*background-color: #EC3E7D;*/
    margin-top: 15px;

    /*line-height: 20px;*/
    padding-top: 20px;
    text-align: center;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;

    a {
      font-size: 12px;
    }
  }

  .sc {
    width: 40px;
    height: 40px;

    /*background-color: #EC3E7D;*/
    margin-top: 15px;
    text-align: center;
    line-height: 45px;

    /*padding-top: 5px;*/
  }

  .sc1 {
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #4c4c4c;
    position: absolute;
    top: 349px;
    right: 100px;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .sc:hover + .sc1 {
    opacity: 1;

    /*background-color: #EC3E7D;*/
    transform: translateX(62px);
  }

  .sc1 p {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 黑体;
  }

  .jl {
    width: 40px;
    height: 40px;

    /*background-color: #EC3E7D;*/
    /*margin-top: 15px;*/
    text-align: center;
    line-height: 45px;

    /*padding-top: 5px;*/
  }

  .jl1 {
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #4c4c4c;
    position: absolute;
    top: 388px;
    right: 100px;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .jl:hover + .jl1 {
    opacity: 1;

    /*background-color: #EC3E7D;*/
    transform: translateX(62px);
  }

  .jl1 p {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 黑体;
  }

  .kf {
    width: 40px;
    height: 40px;

    /*background-color: #EC3E7D;*/
    margin-top: 40px;
    text-align: center;
    line-height: 45px;

    /*padding-top: 5px;*/
  }

  .kf1 {
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #4c4c4c;
    position: absolute;
    bottom: 90px;
    right: 100px;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .kf:hover + .kf1 {
    opacity: 1;

    /*background-color: #EC3E7D;*/
    transform: translateX(62px);
  }

  .kf1 p {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 黑体;
  }

  li {
    &:nth-of-type(6) {
      width: 40px;
      height: 40px;

      /*background-color: #EC3E7D;*/
      /*margin-top: 15px;*/
      text-align: center;
      line-height: 45px;

      /*padding-top: 5px;*/
    }

    &:nth-of-type(7) {
      width: 40px;
      height: 40px;

      /*background-color: #EC3E7D;*/
      margin-top: 10px;
      text-align: center;
      line-height: 10px;
      display: none;

      /*padding-top: 5px;*/

      a {
        font-size: 18px;
        font-weight: normal;
        color: #FFFFFF;
      }
    }

    &:hover {
      background-color: #EC3E7D;
    }
  }

  ul > p {
    color: #FFFFFF;
    text-align: center;
    font-family: 黑体;
    font-size: 14px;
    margin-top: 70px;
  }
}

.box1 {
  width: 100%;
  min-width: 1200px;
  height: 800px;
  background-color: #ebebeb;

  .conter {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
}

.con1 {
  width: 100%;
  height: 155px;
  min-width: 1200px;
  background-color: #fff;

  .conter {
    width: 1185px;
    height: 155px;
    margin: 0 auto;

    /*border-bottom: 1px solid #e4e4e4;*/

    ul li {
      width: 235px;
      float: left;
      text-align: center;
      position: relative;
      padding-top: 40px;

      p {
        font-size: 14px;
        color: #6C6C6C;
        padding-top: 8px;
      }

      img {
        position: absolute;
        top: 40px;
        left: 40px;
      }

      h3, p {
        padding-left: 40px;
      }

      &:nth-of-type(2) p, &:nth-of-type(4) p {
        padding-left: 60px;
      }

      &:nth-of-type(2) img {
        position: absolute;
        top: 40px;
        left: 50px;
      }

      &:nth-of-type(3) p, &:nth-of-type(5) p {
        padding-left: 85px;
      }

      &:nth-of-type(3) img, &:nth-of-type(5) img {
        position: absolute;
        top: 40px;
        left: 50px;
      }
    }
  }
}

/*.lis .conter ul li h3{
	padding-left: 40px;
}*/

.footop {
  width: 100%;
  height: 280px;
  min-width: 1200px;
  background-color: #FFFFFF;

  .conter {
    width: 1185px;
    height: 280px;
    margin: 0 auto;
    position: relative;
  }

  .fteft {
    width: 900px;
    height: 280px;
    float: left;

    div {
      width: 180px;
      float: left;
      line-height: 25px;
    }

    h3 {
      font-size: 12px;
    }

    a {
      font-size: 12px;
      color: #6C6C6C;
      text-decoration: none;

      &:hover {
        color: #EC3E7D;
      }
    }
  }

  .rfoot {
    width: 280px;
    height: 180px;
    float: right;
    padding-top: 10px;

    .wb img, .wx img {
      width: 120px;
      height: 120px;
    }

    .wb {
      width: 120px;
      height: 120px;
      float: left;
      text-align: center;
    }

    .wx {
      width: 120px;
      height: 120px;
      float: right;
      text-align: center;
    }

    .wb p, .wx p {
      font-size: 12px;
      color: #6C6C6C;
      padding-top: 10px;
    }
  }

  .pf {
    width: 840px;
    cursor: pointer;

    /*height: 112px;*/
    position: absolute;
    bottom: 30px;
    left: 0;
  }
}

.foot {
  width: 100%;
  height: 104px;
  min-width: 1200px;
  background-color: #000000;

  .conter {
    width: 1185px;
    height: 104px;
    margin: 0 auto;

    /*line-height: 104px;*/

    li {
      float: left;
      color: #FFFFFF;
      padding-top: 30px;

      a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 13px;
        font-family: 黑体;

        /*font-weight: bold;*/
      }
    }

    p {
      color: #fff;
      font-size: 13px;
      font-family: 黑体;
      padding-top: 40px;
    }
  }
}