$p:rgb(248, 43, 77);
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    padding-top: 20px;
}
.layout{
    width: 1200px;
    margin: 0 auto;
    .left{
        a{
            img{
                width: 175px;
                height: 45px;
                margin-right:40px ;
            }
        }
    }
    .right{
        .top{
            color: $p;
            font-size: 16px;
        }
        .down{
                display: flex;
                li{
                    margin: 10px 5px 0 0;
                    display: flex;
                    i{
                        width: 18px;
                        height: 18px;
                    }
                    span{
                        color: #858484;
                        font: 14px/16px "";
                    }
                }
        }
    }
}
footer{
    padding-top: 50px;
    text-align: center;
    font-size: 12px;color:#666;
    a{
        font: 12px/16px "";
        padding: 0 12px;
        color:#666;
    }
    .down{
        margin-top: 20px;
        i{
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-left: 6px;
            img{
                width: 20px;
            height: 20px;
            
            }
        }
    }
}
