$p:rgb(243, 55, 158);
$z:#666;
main{
    text-align: center;
    padding-bottom: 60px;
    border-bottom: 1px solid #ccc;
    .layout{
        h3{
            margin: 50px 0;
            font-size: 24px;
            padding: 20px 0;
        }
        .box{
            width: 320px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            input{
                border: 0;
                border-bottom: 1px solid $z;
                width: 330px;
                font: 18px/42px "宋体";
            }
            .btn{
                margin-top: 50px;
                background-color:$p;
                color: #fff;
                border-radius: 22px;
            }
            a{  
                margin: 10px 0 0 230px;
                font: 12px/32px "";
                display: block;
                color: $z;
                span{
                    color: $p;
                }
            }
        }
        
    }
    
}